/* Estilização do Header */

header {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

header .nav-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
  background-color: var(--primary-background-color);
  position: fixed;
  top: 0;
  z-index: 999;
}

header .nav-background .logo {
  width: 125px;
}

header .nav-background nav {
  padding: 1rem;
}

header .nav-background nav .links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-background nav .links .link {
  margin: 0.5rem;
  background-color: var(--primary-background-color);
}

header .nav-background nav .links .link a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: bold;
  padding: 0.25rem;
  font-size: 1.15rem;
  transition: 0.25s ease;
}

header .nav-background nav .links .link a:hover {
  color: var(--active-main-text-color);
}

header .nav-background nav .links .link.active a {
  color: var(--active-main-text-color);
}

header .nav-background nam .links .tradutor {
  width: 150px;
}

header .title-background {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
  margin-top: 5.75rem;
}

header .title-background .title {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  text-shadow: var(--shadow);
}

header .title-background div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0.5rem 1.5rem;
}

header .title-background div .subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

header .title-background div a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s ease;
  color: var(--primary-text-color);
}

header .title-background div a:hover {
  color: var(--main-text-color);
}

header .title-background div a .icon-play {
  width: 40px;
  filter: invert(var(--icon-color));
}
header .title-background div a span {
  margin-left: 0.5rem;
}
header .label-links,
.checkbox {
  display: none;
}

/*----------------------------------------------------------------------------*/

@media screen and (min-width: 1800px) {
  header {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .nav-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem; /* Reduzindo o preenchimento para telas menores */
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    z-index: 999;
  }

  header .nav-background .logo {
    width: 180px; /* Reduzindo o tamanho do logo para telas menores */
    margin-left: 5%;
  }

  header .nav-background nav .links .link a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: bold;
    padding: 0.25rem;
    font-size: 2rem;
    transition: 0.25s ease;
  }

  header .title-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem; /* Reduzindo a margem superior para telas menores */
  }

  header .title-background .title {
    font-size: 3.5rem; /* Reduzindo o tamanho do título para telas menores */
    padding: 0.5rem; /* Reduzindo o preenchimento para telas menores */
    text-shadow: var(--shadow);
  }

  header .title-background div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
  }

  header .title-background div .subtitle {
    font-size: 4rem; /* Reduzindo o tamanho do subtítulo para telas menores */
    padding: 0.5rem; /* Reduzindo o preenchimento para telas menores */
  }

  header .title-background div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
    font-size: 1rem; /* Reduzindo o tamanho do texto do link para telas menores */
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
    color: var(--primary-text-color);
  }

  header .title-background div a .icon-play {
    width: 50px; /* Reduzindo o tamanho do ícone para telas menores */
  }

  header .title-background div a span {
    margin-left: 0.25rem; /* Reduzindo a margem do texto do link para telas menores */
    font-size: 1.5rem;
  }

  header .label-links,
  .checkbox {
    display: none;
  }

  header .nav-background nav .links .link a .tradutor {
    width: 70px;
    height: auto;
  }
}

/*----------------------------------------------------------------------------------------*/

@media screen and (max-width: 1800px) {
  header {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .nav-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem; /* Reduzindo o preenchimento para telas menores */
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    z-index: 999;
  }

  header .nav-background .logo {
    width: 150px; /* Reduzindo o tamanho do logo para telas menores */
    margin-left: 5%;
  }

  header .title-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem; /* Reduzindo a margem superior para telas menores */
  }

  header .title-background .title {
    font-size: 3rem; /* Reduzindo o tamanho do título para telas menores */
    padding: 0.5rem; /* Reduzindo o preenchimento para telas menores */
    text-shadow: var(--shadow);
  }

  header .title-background div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
  }

  header .title-background div .subtitle {
    font-size: 2rem; /* Reduzindo o tamanho do subtítulo para telas menores */
    padding: 0.5rem; /* Reduzindo o preenchimento para telas menores */
  }

  header .title-background div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
    font-size: 1rem; /* Reduzindo o tamanho do texto do link para telas menores */
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
    color: var(--primary-text-color);
  }

  header .title-background div a .icon-play {
    width: 40px; /* Reduzindo o tamanho do ícone para telas menores */
  }

  header .title-background div a span {
    margin-left: 0.25rem; /* Reduzindo a margem do texto do link para telas menores */
    font-size: 1.5rem;
  }

  header .label-links,
  .checkbox {
    display: none;
  }

  header .nav-background nav .links .link a .tradutor {
    width: 60px;
    height: auto;
  }
}

/*-----------------------------------------------------------------------------------------*/

@media screen and (max-width: 1200px) {
  header {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .nav-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem; /* Reduzindo o preenchimento para telas menores */
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    z-index: 999;
  }

  header .nav-background .logo {
    width: 150px; /* Reduzindo o tamanho do logo para telas menores */
    margin-left: 5%;
  }

  header .title-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem; /* Reduzindo a margem superior para telas menores */
  }

  header .title-background .title {
    font-size: 2.5rem; /* Reduzindo o tamanho do título para telas menores */
    padding: 0.5rem; /* Reduzindo o preenchimento para telas menores */
    text-shadow: var(--shadow);
  }

  header .title-background div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
  }

  header .title-background div .subtitle {
    font-size: 2rem; /* Reduzindo o tamanho do subtítulo para telas menores */
    padding: 0.5rem; /* Reduzindo o preenchimento para telas menores */
  }

  header .title-background div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
    font-size: 1rem; /* Reduzindo o tamanho do texto do link para telas menores */
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
    color: var(--primary-text-color);
  }

  header .title-background div a .icon-play {
    width: 40px; /* Reduzindo o tamanho do ícone para telas menores */
  }

  header .title-background div a span {
    margin-left: 0.25rem; /* Reduzindo a margem do texto do link para telas menores */
    font-size: 1.5rem;
  }

  header .nav-background nav .links .link a .tradutor {
    width: 50px;
    height: auto;
  }
}

/*---------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  header {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .nav-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem; /* Reduzindo o preenchimento para telas menores */
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    z-index: 999;
  }

  header .nav-background .logo {
    width: 120px; /* Reduzindo o tamanho do logo para telas menores */
    margin-left: 5%;
  }

  header .title-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem; /* Reduzindo a margem superior para telas menores */
  }

  header .title-background .title {
    font-size: 2rem; /* Reduzindo o tamanho do título para telas menores */
    padding: 0.5rem; /* Reduzindo o preenchimento para telas menores */
    text-shadow: var(--shadow);
  }

  header .title-background div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
  }

  header .title-background div .subtitle {
    font-size: 1.3rem; /* Reduzindo o tamanho do subtítulo para telas menores */
    padding: 0.5rem; /* Reduzindo o preenchimento para telas menores */
  }

  header .title-background div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
    font-size: 1rem; /* Reduzindo o tamanho do texto do link para telas menores */
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
    color: var(--primary-text-color);
  }

  header .title-background div a .icon-play {
    width: 30px; /* Reduzindo o tamanho do ícone para telas menores */
  }

  header .title-background div a span {
    margin-left: 0.25rem; /* Reduzindo a margem do texto do link para telas menores */
    font-size: 1.3rem;
  }

  @media (max-width: 768px) {
    header .nav-background nav {
      display: block;
      padding: 1rem; /* Adicionando preenchimento ao menu de navegação */
    }

    header .label-links,
    .checkbox {
      display: none;
    }

    header .nav-background nav .links {
      display: none;
      position: absolute;
      top: 5.6875rem;
      left: 0;
      background-color: var(--primary-background-color);
      text-align: right;
      width: 100%;
      height: 0;
      z-index: 1;
      transition: 0.5s;
    }

    header .label-links {
      display: flex;
      align-items: right;
      gap: 0.5rem;
      padding-block: 1rem;
      cursor: pointer;
    }

    header .nav-background nav .links .link {
      margin: 0rem; /* Reduzindo a margem entre os itens do menu */
      color: var(--primary-text-color);
    }

    header .nav-background nav .links .link a .tradutor {
      width: 50px;
      height: auto;
    }

    header .hamburguer {
      border-top: 0.125rem solid;
      width: 1.25rem;
    }

    .hamburguer::before,
    .hamburguer::after {
      content: " ";
      display: block;
      width: 1.25rem;
      height: 0.125rem;
      background: currentColor;
      margin-top: 0.3125rem;
    }

    .checkbox:checked ~ .links {
      display: block;
      height: calc(100vh - 44.6875rem);
    }
  }
}

/*------------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
  header {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    padding: 1.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .nav-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem; /* Reduzindo o preenchimento para telas menores */
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    z-index: 999;
  }

  header .nav-background .logo {
    width: 100px; /* Reduzindo o tamanho do logo para telas menores */
    margin-left: 5%;
  }

  header .nav-background nav {
    display: none; /* Escondendo o menu de navegação para dispositivos móveis */
  }

  header .title-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem; /* Reduzindo o preenchimento para telas menores */
    margin-top: 4rem; /* Reduzindo a margem superior para telas menores */
  }

  header .title-background .title {
    font-size: 1.5rem; /* Reduzindo o tamanho do título para telas menores */
    padding: 0.5rem; /* Reduzindo o preenchimento para telas menores */
    text-shadow: var(--shadow);
  }

  header .title-background div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
  }

  header .title-background div .subtitle {
    font-size: 1rem; /* Reduzindo o tamanho do subtítulo para telas menores */
    padding: 0.5rem; /* Reduzindo o preenchimento para telas menores */
  }

  header .title-background div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem; /* Reduzindo o preenchimento para telas menores */
    font-size: 1rem; /* Reduzindo o tamanho do texto do link para telas menores */
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
    color: var(--primary-text-color);
  }

  header .title-background div a .icon-play {
    width: 30px; /* Reduzindo o tamanho do ícone para telas menores */
  }

  header .title-background div a span {
    margin-left: 0.25rem; /* Reduzindo a margem do texto do link para telas menores */
  }

  /* Mostra o menu de navegação apenas para dispositivos móveis */
  @media (max-width: 480px) {
    header .nav-background nav {
      display: block;
      padding: 1rem; /* Adicionando preenchimento ao menu de navegação */
    }

    header .label-links,
    .checkbox {
      display: none;
    }

    header .nav-background nav .links {
      display: none;
      position: absolute;
      top: 4.6875rem;
      left: 0;
      color: var(--primary-background-color);
      text-align: right;
      width: 100%;
      height: 0;
      z-index: 1;
      transition: 0.5s;
    }

    header .label-links {
      display: flex;
      align-items: right;
      gap: 0.5rem;
      padding-block: 1rem;
      cursor: pointer;
    }

    header .nav-background nav .links .link {
      margin: 0; /* Reduzindo a margem entre os itens do menu */
      color: var(--primmary-text-color);
    }

    header .nav-background nav .links .link a .tradutor {
      width: 50px;
      height: auto;
    }

    header .hamburguer {
      border-top: 0.125rem solid;
      width: 1.25rem;
    }

    .hamburguer::before,
    .hamburguer::after {
      content: " ";
      display: block;
      width: 1.25rem;
      height: 0.125rem;
      background: currentColor;
      margin-top: 0.3125rem;
    }

    .checkbox:checked ~ .links {
      display: block;
      height: calc(100vh - 44.6875rem);
    }
  }
}
/*--------------------------------------------------------------------------*/
